body {
	background-image: url(../img/wallpaper.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
  	background-size:cover;
}

.navColor {
	background-color: #000;
}

.button {
	color: #E8BB30;
}

.logoImg {
	height: 70px;
}

.icon {
	width: 50px;
}

#decksMenu{
  width: 80%;
}

#recommendation{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.input-field {
  margin-top: 1em;
}

#modalAdd{
  text-align: center;
}

